
.container_produtos {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.titulo {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  /* background-color: blueviolet; */
}

.titulo span {
  font-size: 48px;
  text-align: center;
}

.titulo hr {
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: #FFD188;
}

.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}




/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
}


.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: transform 0.5s ease-in-out,
    filter 0.5s ease-in-out;
}

.whatsapp img {
  width: 80px;
  filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 10px 2px #00000025);
}





/* RODAPE */
footer {
  width: 100%;
  height: 60px;
  background-color: #FFD188;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}


