
.card_categoria {
    margin: 50px 0;
    width: 260px;
    height: 360px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px 10px 40px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 0 40px 2px #00000075;
}

.card_cacau{
    background: linear-gradient(180deg, rgba(59, 31, 0, 1) 0%, rgba(107, 57, 0, 1) 100%);
}

.card_cerimonias{
    background: linear-gradient(180deg,rgba(6, 0, 96, 1) 0%, rgba(12, 0, 187, 1) 100%);
}

.card_morango{
    background: linear-gradient(180deg,rgba(96, 0, 0, 1) 0%, rgba(151, 0, 0, 1) 100%);
}

.card_natal{
    background: linear-gradient(180deg,rgba(8, 50, 0, 1) 0%, rgba(15, 92, 0, 1) 100%);
}

.card_coco{
    background: linear-gradient(180deg,rgba(104, 66, 50, 1) 0%, rgba(168, 105, 78, 1) 100%);
}

.card_destaques{
    background: linear-gradient(180deg,rgba(65, 0, 56, 1) 0%, rgba(117, 0, 102, 1) 100%);
}

.card_categoria svg:first-child {
    width: 26px;
    align-self: flex-end;
}

.svg_cacau {
    width: 150px;
}

.svg_principal{
    width: 170px;
}